<div class="post-share">
  <div class="share-links text-center">
    <a href="#" class="share-link bg-facebook">
      <i class="fa fa-2x fa-facebook"></i>
    </a>
    <a href="#" class="share-link bg-twitter">
      <i class="fa fa-2x fa-twitter"></i>
    </a>
    <a href="#" class="share-link bg-email">
      <i class="fa fa-2x fa-envelope-o"></i>
    </a>
    <a href="#" class="share-link bg-text">
      <i class="fa fa-2x fa-link"></i>
    </a>
  </div>
</div>
