/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

.user_avatar {
  font-size: 12px;
  padding: -6px;
  margin: 0;
}

.crop-large {
  width: 312px;
  height: 312px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 5px;
}

.crop-user-info-avatar {
  width: 164px;
  height: 164px;
  overflow: hidden;
  border-radius: 5px;
  display: inline-block;
}

.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}

.scrollable {
  position: absolute;
  overflow-y: auto;
  height: 79%;
  width: 100%;
  &-user {
    height: 510px;
    position: absolute;
    overflow-y: auto;
    width: 100%;
  }
}

 .not-active {
    pointer-events: none;
    cursor: default;
 }


.total-width {
  width: 100%;
}

.pull-right {
  position: absolute;
  top: 0;
  right: 0;
  &-picture {
    position: absolute;
    right: 23%;
    top: 2%;
    z-index: 1000;
    &-crop {
      position: absolute;
      right: -2%;
      top: 2%;
      z-index: 1000;

    }
  }
}


.relative {
  position: relative;
}

.text-left {
  text-align: left;
}

.actions-inline {
  display: inline-block;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.margin-bottom {
  margin-bottom: 10px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size: 16px;
  line-height: 1.4;
  color: #333333;
  background-color: white;
  display: block;
}

.background {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($blue 5%, white 40%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($blue 5%, white 40%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($blue 5%, white 40%); /* For Firefox 3.6 to 15 */
  background: linear-gradient($blue 5%, white 40%); /* Standard syntax */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  width: 100%;
  height: 100%;

  // display: -webkit-box;
  // display: -webkit-flex;
  // display: -ms-flexbox;
  // display: flex;
  // -webkit-box-align: center;
  // // -webkit-align-items: center;
  // // align-items: center;
  // // -ms-flex-align: center;
  // -webkit-box-pack: center;
  // -webkit-justify-content: center;
  // -ms-flex-pack: center;
  // justify-content: center;
  // width: 100vw;
  // min-height: 100vh;
  // text-align: center;

  // margin-top: -70px;
  z-index: 1041;
}
