/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

 .not-active {
    pointer-events: none;
    cursor: default;
 }


.total-width {
  width: 100%;
}

.pull-right {
  position: absolute;
  top: 0;
  right: 0;
  &-picture {
    position: absolute;
    right: 23%;
    top: 2%;
    z-index: 1000;
  }
}


.relative {
  position: relative;
}

.text-left {
  text-align: left;
}

.actions-inline {
  display: inline-block;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.margin-bottom {
  margin-bottom: 10px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size: 16px;
  line-height: 1.4;
  color: #333333;
  background-color: white;
  display: block;
}

.background {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($blue 30%, white 70%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($blue 30%, white 70%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($blue 30%, white 70%); /* For Firefox 3.6 to 15 */
  background: linear-gradient($blue 30%, white 70%); /* Standard syntax */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  // display: -webkit-box;
  // display: -webkit-flex;
  // display: -ms-flexbox;
  // display: flex;
  // -webkit-box-align: center;
  // // -webkit-align-items: center;
  // // align-items: center;
  // // -ms-flex-align: center;
  // -webkit-box-pack: center;
  // -webkit-justify-content: center;
  // -ms-flex-pack: center;
  // justify-content: center;
  // width: 100vw;
  // min-height: 100vh;
  // text-align: center;

  // margin-top: -70px;
  z-index: -1;
}
