/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  border: none;
  background-color: transparent;
  color: $dark-red;
  width: 50%;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: none;
  &-danger {
    color: $dark-red;
  }
}
.alert-info {
  background: $green;
  color: white;
}
.alert-warning {
  background: $red;
  color: white;
}

.help-block {
  color: $dark-red;
}
