/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  border: none;
  background-color: transparent;
  color: $dark-red;
  &-danger {
    color: $dark-red;
  }
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}

.help-block {
  color: $dark-red;
}
