// textarea:focus, input:focus{
//     outline: none;
// }
.tabs {
  display: inline-block;
  text-align: center;
}

.btn-user-cat {
  margin: 10px;
  padding: 0 10px;
  line-height: 40px;
  color: white;
  font-size: 16px;
  border: 0;
  font-family: "varela round", "sans-serif";
  background-color: transparent;
  &:hover {
    color: $yellow;
  }
  &.active {
    color: $yellow;
  }
  &:active {
    color: $yellow;
  }
  &:target {
    color: $yellow;
  }
}

.btn-edit {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $yellow;
    transition: all 0.15s ease;
    transition-timing-function: ease-out;
  }
  &.active {
    color: $yellow;

  }
  &:active {
    color: $yellow;
  }
  &:target {
    color: $yellow;
  }
}

.btn-flykke-user-count {
  display: inline-block;
  margin: 0;
}

.btn-flykke-section {
  background-color: white;
  display: inline-block;
  border-radius: 2px;
}

.btn-flykke {
  background-color: $blue;
  padding: 7px;
  display: inline-block;
  border-radius: 2px 0px 0px 2px;
}


.logo-mini {
  width: 60px;
}

.category-tabs {
  display: inline-block;
}

.category-tabs li {
  display: table-cell;
  margin: 10px;
  padding: 0 10px;
  line-height: 40px;
  font-size: 16px;
  border: 0;
  font-family: "varela round", "sans-serif";
  background-color: transparent;
  .active {
    color: $yellow;
    box-shadow: none;
    border-bottom: 1px solid $yellow;
  }
}

.category-tabs li a .active {
  color: $yellow;
  box-shadow: none;
  border-bottom: 1px solid $yellow;
  touch-action: none;
}



.btn-facebook {
  width: 50%;
  background-color: #3A5795;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  margin: auto;
  padding: 15px;
  &:hover {
    background-color: #3A5795;
  }
  & i {
    padding-right: 30px;
    border-right: 1px solid white;
  }
}

.btn-confirm {
  background-color: $blue;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px;
  &-sm {
    padding: 5px;
    font-size: 16px;
    background-color: $blue;
    border: none;
    border-radius: 5px;
    color: white;
  }
}

.btn-interest-form {
  margin: 10px;
  padding: 0 10px;
  line-height: 40px;
  color: $blue;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid $blue;
  font-family: "varela round", "sans-serif";
  background-color: transparent;
  &:hover {
    color: $yellow;
    border-bottom: 1px solid $yellow;
  }
  &.active {
    color: $yellow;
    border-bottom: 1px solid $yellow;

  }
  &:active {
    color: $yellow;
    border-bottom: 1px solid $yellow;
  }
  &:target {
    color: $yellow;
    border-bottom: 1px solid $yellow;
  }
}

.icon-recipe:hover {
  background-image:url("recipe-hover.png");
}

.icon-palm:hover {
  background-image:url("palm-hover.png");
}
