#media-about {
  color: $blue;
  font-size: 12px;
  text-align: left;
  margin: 5px 0px 5px 0px;
  &-user {
    color: $blue;
    font-size: 12px;
    text-align: left;
    margin: 5px 0px 5px 0px;
  }
}

.media {
  display: flex;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
  &-about {
    color: $blue;
    font-size: 12px;
    text-align: left;
    margin: 5px 0px 5px 0px;
    &-user {
      color: $blue;
      font-size: 12px;
      text-align: left;
      margin: 5px 0px 5px 0px;
    }
  }
  &-profile-picture {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    box-shadow: none;
  }
  &-link:hover {
    text-decoration: none;
  }
  &-img-user {
    margin: 0px;
  }
  &-body {
    background: white;
    flex: 1 1 auto;
    position: initial;
    border-radius: 5px 0px 0px 5px;
  }
  &-btn-delete {
    position: absolute;
    top: 5px;
    right: 10px;
    color: $blue;
  }
  &-section {
    padding-top: 5px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-main {
    flex: 1 1 auto;
    padding: 30px;
    img {
      width: 50%;
    }
  }
  &-aside {
    flex: 0 0 30%;
    padding: 30px;
    align-self: stretch;
    background: $white-blue;
    position: relative;
    border-radius: 0px 5px 5px 0px;
    & a {
      font-size: 13px;
      text-decoration: none;
      &:hover {
        color: $yellow;
        transition: all 0.15s ease;
        transition-timing-function: ease-out;
      }
      &.active {
        color: $yellow;

      }
      &:active {
        color: $yellow;
      }
      &:target {
        color: $yellow;
      }
    }
  }
  h1, h2, h3, h4 {
    padding: 0px;
    margin: 0px;
    color: black;
  }
  h1 {
    text-align: left;
    font-family: VarelaRound;
    font-size: 13px;
    color: $blue;
    line-height: 13px;
    margin: 5px 0px 10px 0px;
  }

  h2 {
    padding: 5px;
    margin-right: 55px;
    font-size: 14px;
    font-weight: bold;
  }

  h3 {
    padding: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-family: "open-sans", "helvetica", "sans-serif";
  }

  h3.btn-flykke-vote-count {
      display: inline-block;
      color: $blue;
      font-size: 20px;
      padding: 0px 13px 0px 10px;
      font-family: "varela round", "sans-serif";
      vertical-align: middle;
      &-preview {
        padding: 0px 4px 0px 0px;
        font-size: 11px;
        display: inline-block;
        color: $blue;
        font-family: "varela round", "sans-serif";
        vertical-align: middle;
      }
    }

  h4 {
    padding: 0px 5px 5px 5px;
    font-size: 13px;
    color: $gray-light;
  }
}



.media-preview {
  margin-top: 10px;
  margin-bottom: 5px;
}

#preview-h1 {
  font-size: 11px;
}

#preview-h2 {
  font-size: 10px;
  padding-bottom: 0px;
}

#preview-h3 {
  font-size: 9px;
}

#preview-h4 {
  font-size: 9px;
  padding-top: 2px;
  padding-bottom: 0px;
}

.logo-mini-preview {
  width: 30px;
}

.media-margin {
  margin-top: 15px;
  margin-bottom: 15px;
}
