.signup-or-separator--text {
    background-color: #fff;
    display: inline-block;
    padding: 6px;
}

.signup-or-separator {
  background: none;
  height: 34px;
  position: relative;
  text-align: center;
  margin: 10px 0;
}

.signup-or-separator hr {
    margin: -16px auto 10px auto;
    width: 90%;
    border-color: $blue;
}



.hideblank {
  margin: -1px;
}

.btn-confirm {
  background: $blue;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  &:hover {
    background: $dark-blue;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
    color: white;
  }
}

.modal {
  font-family: "varela round", "sans-serif";
  color: $blue;
  text-align: center;
  & h2 {
    color: $dark-blue;
  }
  & p {
    text-align: center;
  }
}

.modal-dialog {
  width: 450px;
  margin-top: 100px;
}

.modal-header {
  border-bottom: none;
  padding-right: 30px;
}

.modal-title {
    font-family: "arista 2.0";
    font-size: 25px;
    color: $dark-blue;
}

.modal-content {
  font-size: 14px;
  border-radius: 40px;
  padding-left: 10px;
  padding: 0px;
  margin: -40px;
}

.modal-body {
  padding-bottom: 0px;
  margin: auto;
}

.modal-footer {
    border-top: none;
    padding: 0 30px 20px 30px;
    text-align: left;
}


.form-input {
  width: 60%;
  border-radius: 100px;
  border: none;
  box-shadow: none;
  background-color: $light-blue;
  color: $blue;
  margin: auto;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: white;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: white;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: white;
  }
}
